---
language: node_js
node_js:
- '10'
- '12'
install: true
env:
- EXAMPLE_PATH=./todo
before_install: >
  (git clone git://github.com/facebook/watchman.git && \
    cd watchman && \
    git checkout v4.7.0 && \
    sudo apt-get install -y autoconf automake build-essential python-dev && \
    ./autogen.sh && \
    ./configure && \
    make && \
    sudo make install)
before_script:
  (cd $EXAMPLE_PATH && yarn)
script:
  (cd $EXAMPLE_PATH && yarn run lint && yarn run update-schema && yarn run build && yarn run flow)
