{
  "plugins": [
    ["relay", { "artifactDirectory": "./__generated__/relay/" }],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": ["@babel/preset-react", "@babel/preset-env", "@babel/preset-flow"]
}
