body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  background-color: #f5f5f5;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  margin: 20px;
  margin-bottom: 40px;
  padding: 10px;
  background-color: #fff;
  border-radius: 2px;
}

.issues {
  margin: 10px;
}

.issues-issue {
  padding: 2px 0;
}

.issues-load-more,
.issue-comments-load-more {
  margin-top: 20px;
  padding: 4px 10px;
  background-color: #fff;
  border-color: #282c34;
}

.issue-comments-load-more {
  margin-left: 48px;
}

.issue {
  /* max-width: 50vw; */
}

.issue-title {
  font-size: 120%;
  padding-bottom: 10px;
  border-bottom: 1px solid #282c34;
}

.issue-title-github-link {
  float: right;
}

.issue-author {
  margin-bottom: 10px;
  font-weight: bold;
}

.issue-comment {
  padding: 10px 0px;
  margin-left: 48px;
  border-bottom: 1px solid #282c34;
}

.issue-comment-body p {
  margin-top: 0;
  margin-bottom: 0;
}

.issue-comment-author-name {
  font-weight: bold;
  padding: 8px 0px;
}

.issue-comment-author-image {
  float: left;
  margin-left: -48px;
  padding-right: 16px;
  width: 32px;
  height: 32px;
}

.issue-no-comments {
  margin-top: 20px;
  margin-left: 48px;
  font-weight: bold;
}

.issue-actions {
  margin-top: 20px;
  margin-left: 48px;
  padding-top: 10px;
  border-top: 1px solid #282c34;
}

.issue-actions-text {
  display: block;
  padding: 4px 10px;
  background-color: #fff;
  border-color: #282c34;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}

.issue-actions-button {
  padding: 4px 10px;
  background-color: #fff;
  border-color: #282c34;
  margin-right: 10px;
}
