html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eee;
}

.app {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 2fr;
}

.newsfeed {
  max-width: 600px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  background-color: #ddd;
  height: 100vh;
  width: 300px;
}

@media (max-width: 730px) {
  .sidebar {
    visibility: hidden;
  }
}

.card {
  padding: 12px;
  margin: 12px;
  background-color: white;
  border-radius: 6px;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.dim {
  background-color: #f5f5f5;
}

.hovercard {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 12px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: -1px 12px 47px 1px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.heading {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: -0.1rem;
  margin: 1rem 0 6px 0;
  padding: 0;
}

.newsfeed .timestamp {
  color: #999;
  font-size: 0.8rem;
  display: block;
  padding: 5px 0;
}

.byline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.byline__name {
  grid-column: 2;
  grid-row: 1;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  padding: 0 0 6px 12px;
}

.byline__image {
  width: 60px;
  border-radius: 60px;
  overflow: hidden;
  border: 1px solid #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.posterHovercard {
  width: 400px;
  display: grid;
  grid-template-columns: 128px 1fr;
  grid-template-rows: 24px 1fr 48px;
  gap: 12px;
}

.posterHovercard__name {
  grid-column: 2;
  grid-row: 1;
  display: inline-block;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 10px 0 0;
}

.posterHovercard__image {
  grid-column: 1;
  grid-row: 1;
  width: 128px;
  border-radius: 128px;
  overflow: hidden;
  border: 1px solid #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.posterHovercard__buttons {
  grid-column: 1 / 3;
  grid-row: 3;
}

.posterHovercard__buttons button {
  padding: 12px 36px;
  border-radius: 12px;
  margin-right: 12px;
  font-size: 1.4rem;
  border: none;
}

.posterHovercard__details {
  list-style: none;
  padding-left: 0;
  min-height: 64px;
  grid-column: 2;
  grid-row: 2;
}

.comment {
  background-color: #eee;
  border-radius: 12px;
  padding: 12px;
  margin: 12px 0;
}

.comments__loadMore {
  cursor: pointer;
  background-color: white;
  border: none;
  color: blue;
  padding: 12px;
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
}

.comments__loadMore:hover {
  text-decoration: underline;
}

.comments__loadMore:active {
  color: #66d;
}

.commentsComposer {
  display: flex;
  margin: 12px 0;
  font-size: 1.2rem;
}

.commentsComposer input {
  flex-grow: 1;
  padding: 12px;
  border-radius: 12px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.commentsComposer button {
  padding: 12px 36px;
  margin-left: 12px;
  font-size: 1.2rem;
  border-radius: 12px;
  border: none;
}

.likeButton__count {
  display: inline-block;
  font-size: 1.2rem;
  padding-right: 12px;
}

.likeButton__button {
  font-size: 1.4rem;
  padding: 8px;
  border: none;
  color: #555;
  background-color: white;
}

.likeButton__button:disabled {
  opacity: 0.5;
}

.likeButton__thumb__viewerDoesNotLike {
  opacity: 0.6;
}

.likeButton__label__viewerLikes {
  color: blue;
}

.viewerProfile {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.viewerProfile__name {
  margin-right: 48px;
  font-weight: 600;
}

.viewerProfile__menu {
  font-weight: 600;
  font-size: 1.5rem;
}

.viewerProfile img {
  width: 60px;
  border-radius: 60px;
  overflow: hidden;
  border: 1px solid #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.searchInput {
  position: relative;
  margin-bottom: 12px;
}

.searchInput .small-spinner {
  position: absolute;
  top: calc(50% - 8px);
  right: 6px;
}

.searchInput input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.contactRow {
  margin: 6px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactRow__name {
  display: inline-block;
  font-size: 1rem;
  padding: 0 0 6px 12px;
}

.contactRow__image {
  width: 60px;
  border-radius: 60px;
  overflow: hidden;
  border: 1px solid #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/* Spinner */

.loading-spinner-wrapper {
  position: absolute;
  top: 50vh;
  left: calc(50% - 40px);
}

.loading-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading-spinner div {
  transform-origin: 40px 40px;
  animation: loading-spinner 1.2s linear infinite;
}
.loading-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #aaa;
}
.loading-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loading-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loading-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loading-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loading-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loading-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loading-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loading-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loading-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loading-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loading-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loading-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes loading-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.small-spinner {
  display: inline-block;
  margin: 2px 12px -2px 12px;
  width: 8px;
  height: 8px;
  border: 2px solid #aaa;
  border-bottom: 2px solid white;
  border-radius: 50%;
  animation: small-spinner 1s linear infinite;
}

.small-spinner--hidden {
  display: none;
}

@keyframes small-spinner {
  to {
    transform: rotate(360deg);
  }
}
